boto3==1.9.243
numpy==1.15.4
pandas==0.24.1
protobuf==3.18.3
requests==2.21.0
regex==2019.8.19
sentencepiece==0.1.83
setuptools_scm==3.3.3
seqeval==0.0.12
scikit-learn==0.21.3
spacy==2.2.1
tensorboardX==1.8
torch==1.2.0
torchvision==0.4.0
tqdm==4.36.1
transformers==2.1.0